@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Animations */

@keyframes blob_fade {
  0% {
    transform: translate(0px, -650px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes opacity_fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes jiggle {
  0% {
    transform: rotate(calc(var(--jiggle-rotation) * -1));
  }
  50% {
    transform: rotate(var(--jiggle-rotation));
  }
}

@-moz-keyframes jiggle {
  0% {
    -moz-transform: rotate(calc(var(--jiggle-rotation) * -1));
  }
  50% {
    -moz-transform: rotate(var(--jiggle-rotation));
  }
}

@-webkit-keyframes jiggle {
  0% {
    -webkit-transform: rotate(calc(var(--jiggle-rotation) * -1));
  }
  50% {
    -webkit-transform: rotate(var(--jiggle-rotation));
  }
}

@keyframes rotateUp {
  0% {
    transform: translate(-50%, -50%) rotate3d(1, 0, 0, 90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate3d(1, 0, 0, -90deg);
  }
}

@keyframes change {
  0% {
    transform: translate3d(0, 0, 0);
  }
  5% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(0, -1.5em, 0);
  }
  50% {
    transform: translate3d(0, -3em, 0);
  }
  75% {
    transform: translate3d(0, -4.5em, 0);
  }
  95% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

/* Defaults */
:root {
  /* first palette -unused */
  --cotton-candy: #ffc4ebff;
  --pale-purple-pantone: #ffe4faff;
  --misty-rose: #f1dedcff;
  --dutch-white: #e1dabdff;
  --dark-sea-green: #abc798ff;
  /* second palette -background blobs */
  --royal-blue-dark: #03256cff;
  --denim-blue: #2541b2ff;
  --sapphire-blue: #1768acff;
  --vivid-sky-blue: #06bee1ff;
  --white: #ffffffff;
  /* third palette -contact blobs */
  --green-pantone: #1ab856ff;
  --barbie-pink: #e60b92ff;
  --sky-magenta: #de73b5ff;
  --medium-violet-red: #ba1179ff;
  --flirt: #a1136aff;
  /* fourth palette -works blobs */
  --smoky-black: #000000;
  --bistre: rgb(94, 94, 94);
  --liver-dogs: rgb(194, 194, 194);

  --back-works-blob: #c5ab86;
  --mid-works-blob: #7e6e57;
  --top-works-blob: #655132;

  /* fifth palette -impressum blobs */
  --sheen-green: #71cf13ff;
  --french-lime: #affc62ff;
  --avocado: #4f8519ff;
  --rebecca-purple: #673499ff;
  --lawn-green: #86fc0fff;

  --back-impressum-blob: var(--sheen-green);
  --mid-impressum-blob: var(--french-lime);
  --front-impressum-blob: var(--lawn-green);
  /* global variables */
  --first-anim-duration: 1s;
  --topnav-edge-distance: 5%;
  --jiggle-duration: 0.8s;
  --jiggle-rotation: 1.5deg;
  --default-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
  --default-transition-duration: 3ms;
}

body {
  font-family: var(--default-font);
  font-weight: 200;
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: var(--royal-blue-dark);
  transition: 1s;
}

a,
div {
  color: var(--white);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  /* padding: 0; */
}

/* Classes */

/* Background  */

/* First blob laying over anyone else */
.blobHolder path,
.blobHolder2 path,
.blobHolder3 path {
  transition: 1s;
}

.blobHolder {
  animation: blob_fade var(--first-anim-duration) ease-in-out;
  animation-fill-mode: backwards;
  height: 100vh;
}

.blobHolder path {
  fill: var(--vivid-sky-blue);
}

/* Second and all other blobs laying under the first, absolute positioned */
.blobHolder2 {
  animation: blob_fade var(--first-anim-duration) ease-in-out,
    opacity_fade var(--first-anim-duration);
  animation-fill-mode: forwards;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  transition: 1s;
}

.blobHolder2.a {
  animation-delay: calc(var(--first-anim-duration) / 2.5);
  z-index: -1;
}

.blobHolder2.b {
  animation-delay: calc(var(--first-anim-duration) / 1.5);
  z-index: -2;
}

.blobHolder2.a path {
  fill: var(--sapphire-blue);
}

.blobHolder2.b path {
  fill: var(--denim-blue);
}

/* Sideway blob, activated when clicked */
.blobHolder3 {
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.blobHolder3 svg {
  transition: 2s;
  /* transform: translateX(55vw); */
  transform-origin: top left;
  width: 100%;
  height: 100%;
}

/* Works blobs */
.blobHolder3.works svg {
  /* transform: translate(-100px, -1200px) rotate(-105deg) scaleY(3.5) scaleX(2); */
  transform: translateY(-35vh);
  transform-origin: center;
}

.blobHolder3.works.clicked svg {
  transform: scaleY(4) translateY(37vh) scaleX(1.5);
}

.blobHolder3.works.layer1.clicked svg {
  transform: translateX(20vh) scaleX(1.75) scaleY(5) translateY(22.5vh);
}

.blobHolder3.works.layer2.clicked svg {
  transform: scaleY(2) translateY(10vh) scaleX(1.2);
}

.blobHolder3.works path {
  fill: var(--back-works-blob);
}

.blobHolder3.works.layer1 path {
  fill: var(--mid-works-blob);
}

.blobHolder3.works.layer2 path {
  fill: var(--top-works-blob);
}

/* Contact blob */
.blobHolder3.contact svg {
  transform: translateX(55vw);
}

.blobHolder3.contact path {
  fill: var(--barbie-pink);
}

.blobHolder3.contact.layer1 path {
  fill: var(--sky-magenta);
}

.blobHolder3.contact.layer2 path {
  fill: var(--medium-violet-red);
}

.blobHolder3.contact.clicked svg {
  transform: translateX(75vw) scaleX(6);
  transform-origin: right;
}

.blobHolder3.contact.layer1.clicked svg {
  transition-delay: 1s;
  transform: translateX(10vw) scaleX(2.1);
  transform-origin: right;
}

.blobHolder3.contact.layer2.clicked svg {
  transition-delay: 2s;
  transform: translateX(5vw) scaleX(1);
  transform-origin: right;
}

/* Impressum blobs */
.blobHolder3.impressum svg,
.blobHolder3.impressum.layer2 svg {
  transform: translate(-60vh, 60vh);
}

.blobHolder3.impressum.clicked svg {
  transform: translate(0, 0) scale(3);
  transform-origin: left bottom;
}

.blobHolder3.impressum.layer1 svg {
  transform: translate(-70vh, 70vh);
}

.blobHolder3.impressum.layer1.clicked svg,
.blobHolder3.impressum.layer2.clicked svg {
  transform: translate(0, 0);
}

.blobHolder3.impressum path {
  fill: var(--back-impressum-blob);
}

.blobHolder3.impressum.layer1 path {
  fill: var(--mid-impressum-blob);
}

.blobHolder3.impressum.layer2 path {
  fill: var(--front-impressum-blob);
}

.overflowwrapper {
  /* width: 100%;
  height: 100%; */
  overflow: hidden;
}

/* Top navigation bar  */
.topnav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: var(--topnav-edge-distance);
  left: var(--topnav-edge-distance);
  right: 0;
  transition: 0.3s ease-in;
  gap: 2.5vh;
  width: 0%;
  z-index: 500;
}

.topnav a {
  opacity: 0;
  transition: 500ms;
  transition-timing-function: ease-in-out;
  text-decoration: none;
  transform-origin: left top;
  visibility: hidden;
}

.topnav.visible.clicked a:not(:first-child) {
  visibility: hidden;
}

/* Contact - Page */
.contactHolder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-timing-function: ease-in-out;
  opacity: 0;
  visibility: hidden;
  transition: 1s;

  display: flex;
  gap: 5vw;
  z-index: 501;
}

.contactHolder ul li .title {
  font-weight: 400;
  display: inline;
  transition: 0.5s ease-in-out;
}

.contactHolder ul {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 0;
}

.contactHolder.clicked {
  opacity: 1;
  visibility: visible;
}

.contactItem {
  transition: 1s;
  opacity: 0;
  visibility: hidden;
  transform-origin: center;
}

.contactHolder.clicked ul .contactItem {
  opacity: 1;
  visibility: visible;
}

.contactItem .title div {
  transition: 1s;
}

.fab,
.far {
  font-size: 3vh;
  margin-right: 0.5vh;
}

.iconHolder {
  display: flex;
  align-items: center;
}

/* Impressum page */
.impressumHolder {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  flex-direction: column;
  align-items: center;

  transition: 2s;
}

.impressumHolder .title {
  font-size: 2rem;
  font-weight: 500;
  font-family: var(--title-font);
  margin-bottom: 5vh;
}

.impressumHolder .text {
  font-size: 1.5rem;
  text-shadow: 5px 5px 5px #00000030;
  text-align: center;
}

/* Landing page */
.landingPage_title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  font-size: 40px;
  line-height: 1.5em;
  font-family: var(--title-font);

  transition: 1s;
  opacity: 1;
  visibility: visible;
}

.landingPage_title.hidden {
  opacity: 0;
  visibility: hidden;
}

.title_container {
  overflow: hidden;
  height: 1.5em;
  display: flex;
}

.title_container_text {
  display: inline;
  white-space: nowrap;
}

.title_container_list {
  margin-top: 0;
  text-align: left;
  list-style: none;
  text-align: left;
  /* -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite; */
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.title_container_list_item {
  font-weight: 600;
  font-style: italic;
  line-height: 1.5em;
  margin: 0;
  white-space: nowrap;
  text-transform: capitalize;
}

.landingMobile_title {
  display: none;
  font-family: var(--title-font);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: 1s;
  opacity: 1;
  visibility: visible;
}

.landingMobile_title.hidden {
  opacity: 0;
  visibility: hidden;
}

.landingMobile_title .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-style: italic;
  padding-bottom: 2vh;
  white-space: nowrap;
  animation: rotateUp 5s ease-in-out backwards;
  animation-iteration-count: infinite;
}

.landingMobile_title .title {
  margin-top: -7vh;
}

/* Helper Classes */
.visible a {
  opacity: 1;
  visibility: visible;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.jiggle {
  animation: jiggle var(--jiggle-duration) ease-in-out infinite;
  -webkit-animation: jiggle var(--jiggle-duration) ease-in-out infinite;
  -moz-animation: jiggle var(--jiggle-duration) ease-in-out infinite;
  /* -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg); */
}

/* Media queries */
/* Contact Text breaking point */
@media (max-width: 900px) {
  .contactHolder {
    flex-direction: column;
  }

  .contactHolder .text {
    text-align: center;
  }

  .iconHolder:last-child {
    transform: translateY(2px);
  }

  .contactHolder ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 400px) {
  /* let text disappear, only icons */
  .iconHolder div {
    display: none;
  }

  .iconHolder i {
    font-size: 3rem !important;
  }
}

/* Impressum Text breaking point */
@media (max-width: 700px) {
  .impressumHolder .text {
    font-size: 1rem;
  }
}

/* SVG 'blobHolder3.works' breaking point */
@media (max-width: 550px) {
  .blobHolder3.contact.clicked svg {
    /* transform: rotate(180deg) translateY(1300px) translateX(-600px) scale(1.5); */
    transform: translateX(25vw) scale(8);
    transform-origin: right;
  }
}

/* SVG 'blobHolder3.works.layer1' breaking point */
@media (max-width: 700px) {
  .blobHolder3.works.layer1.clicked svg {
    transform: translateX(0vh) scaleX(1.5) scaleY(5) translateY(22.5vh);
  }
}

@media (max-width: 400px) {
  .blobHolder3.works.layer1.clicked svg {
    transform: translateX(0vh) scaleX(1.5) scaleY(5) translateY(12.5vh);
  }
}

/* SVG 'blobHolder3.contact' breaking point */
@media (max-width: 1400px) {
  .blobHolder3.works svg {
    transform: translateY(-45vh);
  }
}

/* SVG 'blobHolder3.contact.layer1&2' breaking point */
@media (min-height: 650px) {
  .blobHolder3.contact.layer1.clicked svg {
    transform: translateX(10vw) scaleX(2.1) scaleY(1.5);
    transform-origin: right;
  }

  .blobHolder3.contact.layer2.clicked svg {
    transform: translateX(5vw) scaleY(1.5);
    transform-origin: right;
  }
}

/* Landing title breaking point */
@media (max-width: 800px) {
  .landingPage_title {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

/* Landing title switch point */
@media (max-width: 500px) {
  .landingPage_title {
    display: none;
  }

  .landingMobile_title {
    display: block;
  }
}

/* Check for hover ability */
@media (hover: hover) {
  .contactItem:hover .title div {
    color: black;
  }
}
